! Color	scheme	{{.Name}}
*VT100*foreground:	{{.Foreground}}
*VT100*background:	{{.Background}}
*VT100*cursorColor:	{{.Cursor}}
! Black
*VT100*color0:	{{.Ansi0}}
*VT100*color8:	{{.Ansi8}}
! Red
*VT100*color1:	{{.Ansi1}}
*VT100*color9:	{{.Ansi9}}
! Green
*VT100*color2:	{{.Ansi2}}
*VT100*color10:	{{.Ansi10}}
! Yellow
*VT100*color3:	{{.Ansi3}}
*VT100*color11:	{{.Ansi11}}
! Blue
*VT100*color4:	{{.Ansi4}}
*VT100*color12:	{{.Ansi12}}
! Magenta
*VT100*color5:	{{.Ansi5}}
*VT100*color13:	{{.Ansi13}}
! Cyan
*VT100*color6:	{{.Ansi6}}
*VT100*color14:	{{.Ansi14}}
! White
*VT100*color7:	{{.Ansi7}}
*VT100*color15:	{{.Ansi15}}
! Bold
*VT100*colorBD:	{{.Bold}}
!*colorIT:
!*colorUL:
