name: "{{.Name}}"
terminal:
  # nord4
  foreground: "{{.Foreground}}"
  # nord0
  background: "{{.Background}}"
  # nord4
  cursorColor: "{{.Cursor}}"
colors:
  black:
    # nord0
    color0: "{{.Ansi0}}"
    # nord3
    color8: "{{.Ansi8}}"
  red:
    # nord11
    color1: "{{.Ansi1}}"
    # nord11
    color9: "{{.Ansi9}}"
  green:
    # nord14
    color2: "{{.Ansi2}}"
    # nord14
    color10: "{{.Ansi10}}"
  yellow:
    # nord13
    color3: "{{.Ansi3}}"
    # nord13
    color11: "{{.Ansi11}}"
  blue:
    # nord9
    color4: "{{.Ansi4}}"
    # nord9
    color12: "{{.Ansi12}}"
  magenta:
    # nord15
    color5: "{{.Ansi5}}"
    # nord15
    color13: "{{.Ansi13}}"
  cyan:
    # nord8
    color6: "{{.Ansi6}}"
    # nord7
    color14: "{{.Ansi14}}"
  white:
    # nord5
    color7: "{{.Ansi7}}"
    # nord6
    color15: "{{.Ansi15}}"
font:
  bold: "{{.Bold}}"
  italic:
  underline:
